.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
  max-width: 400px;
}
.sidebarWrapper {
  padding-left: 20px;
  color: #545;
}

.sidebar_list_item {
  padding: 5px;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar_list_item.active,
.sidebar_list_item:hover {
  background-color: rgb(228, 228, 250);
}

.sidebar_list_icon {
  padding-right: 5px;
}
